body {
    margin: auto;
    font-family: 'Roboto Condensed';
}
.container {
    display: flex;
    margin: auto;
    height: 900px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list {
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    width: 548px;
    height: 496px;
    background: #FFFFFF;
    border-radius: 16px;
}

.list__title {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.list__button {
    background: #29ABE2;
    border: 0.7px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.list__button__white, .list__button__done {
    color: #FFFFFF;
}

.list__item {
    display: flex;
}

.strike {
    text-decoration: line-through;
    color: #d1d1d1;
    }

.item {
    padding: 20px;
    margin: 10px;
}